<!doctype html>
<html <%= htmlattr %> >
  <head>
    <%= head %>
    <link rel="stylesheet" href='min/about.css' />
    <script type='text/javascript' src='min/libs.js'></script>
  </head>
  <body>
    <%= metrika %>
    <div class="navpanel">
      <!-- <div href="#" class="bt activebt">о нас</div>
      <div href="#" class="bt">штат </div>
      <div href="#" class="bt">аттестаты</div>
      <div href="#" class="bt">расположение</div>
      <div href="#" class="bt">услуги</div> -->
    </div>
    <script type='text/javascript' src='min/index.js'></script>
    <script type='text/javascript' src='min/about.js'></script>
  </body>
</html>
