::-webkit-scrollbar {
  display: none;
}

html {
  overflow: -moz-scrollbars-none;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Gill Sans, sans-serif;
  font-family: "Goudy Bookletter 1911", sans-serif;
}

.tooltip {
  position: absolute;
  z-index: 10;
  background: white;
  visibility: hidden;
  padding: 12px;
  border: 1px solid #ccc;
  border-left: 5px solid #F7C059;
}

.label {
  position: absolute;
  z-index: 10;
  width: 50%;
  font-size: 1.0em;
  color: black;
}

.label:after {
  content: '_';
  -webkit-animation: bnk 0.7s infinite alternate;
  animation: bnk 0.7s infinite alternate;
}

.fullinfopanel {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  background: white;
  border: 1px solid #ccc;
  width: 50vw;
  min-width: 350px;
}

.fullhalf {
  height: 50vh;
  overflow: hidden;
}

.fullall {
  height: 100vh;
}

.nocopy {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.textspeak {
  width: 10vw;
  height: 40vh;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-weight: lighter;
  line-height: 1em;
}

.aboutmenu {
  position: absolute;
  width: 80vw;
  height: 40vh;
  z-index: 12;
  visibility: hidden;
}

.st1 {
  fill: #F7C059;
}

.st2 {
  fill: #FFFFFF;
}

.st3 {
  fill: #4A96CD;
}

.st4 {
  fill: #D20024;
}

@-webkit-keyframes bnk {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bnk {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.frame .photo {
  max-width: 80%;
  max-height: 40vh;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
}

.frame .text {
  max-width: 80%;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.frame .blue {
  color: white;
  background: #4A96CD;
}

.frame .red {
  color: white;
  background: #D20024;
}

.frame .block {
  margin-top: 12px;
  border-left: 3px solid #D20024;
  margin-left: 5%;
  padding-left: 5px;
}
.otdel-img {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /*background: red;*/
  opacity: 1;
  position: absolute;
  top: 0;
  left: 20vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.smooth {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0.1s;
  -moz-transition: -moz-transform 0.5s ease-in-out 0.1s;
  -o-transition: -o-transform 0.5s ease-in-out 0.1s;
  transition: transform 0.5s ease-in-out 0.1s;
  border: 3px solid #eee;
}

.flexmiddle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column {
  -webkit-flex-flow: column;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.pdet {
  text-align: center;
  font-weight: lighter;
  font-size: .5em;
  color: #333;
}

.pdetb {
  text-align: center;
  font-weight: bold;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.circleanim {
  -webkit-animation-duration: 6.5s;
  animation-duration: 6.5s;
  -webkit-animation-name: scaling;
  animation-name: scaling;
}

.circleanimfast {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: scaling;
  animation-name: scaling;
}

@-webkit-keyframes scaling {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.atom {
  stroke: #ddd;
  stroke-width: 2;
  fill: #eee;
}

.planet {
  stroke: #ccc;
  stroke-width: 3;
  fill: #eee;
}

.orbit {
  stroke: #eee;
  stroke-width: 3;
  fill: none;
}

.hamburger {
  stroke: #ccc;
  stroke-width: 3;
  fill: #eee;
}

.door-circle {
  r: 4;
  stroke-width: 2;
  fill: none;
  stroke: #333;
}