.zak {
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.zak .img {
  margin: auto;
  height: 250px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.zak .fn {
  width: 100%;
}
.zak .fn p,
.zak .fn h2,
.zak .fn a,
.zak .fn input {
  font-family: sans-serif;
  width: 80%;
  margin-left: 10%;
}
.zak .fn input {
  border: none;
  background: #eee;
  padding: 3px;
  width: 60%;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.zak .fn a {
  margin: 10%;
  background: #ffc0cb;
  text-decoration: none;
  color: #fff;
  padding: 7px;
}
.zak .fn .small {
  font-size: 0.75em;
  color: #444;
}
.zak .fn .lt {
  background: #eee;
  margin-top: 5px;
  padding: 5px;
}
.zak .fn .desc {
  font-weight: lighter;
}
.zak .fn .big {
  font-weight: bolder;
  margin-top: 2em;
}
.lt:before {
  content: '✔︎';
  position: relative;
  left: -2px;
  color: #008000;
}
