::-webkit-scrollbar {
    display: none;
}
html{
  overflow: -moz-scrollbars-none;
}
body{
  margin:0;
  overflow: hidden;
  font-family: Gill Sans, sans-serif;
  font-family: "Goudy Bookletter 1911", sans-serif;
}
.tooltip{
  position:absolute;
  z-index:10;
  background: white;
  visibility:hidden;
  padding: 12px;
  border: 1px solid #ccc;
  border-left: 5px solid #F7C059;
}
.label{
  position:absolute;
  z-index:10;
  width: 50%;
  font-size: 2.0em;
  color: black;
}
.label:after{
  content: '_';
  -webkit-animation: bnk 0.7s infinite alternate;
         animation: bnk 0.7s infinite alternate;
}
.fullinfopanel{
  position:absolute;
  z-index:10;
  visibility:hidden;
  background: white;
  border: 1px solid #ccc;
  width: 50vw;
  min-width: 350px;
}
.fullhalf{
  height: 50vh;
  overflow: hidden;
}
.fullall{
  height: 100vh;
}
.nocopy {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
.textspeak{
  width: 10vw;
  height: 40vh;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 2em; /* поменял размер */
  font-weight: lighter;
  line-height: 1em;
}
.aboutmenu{
  position: absolute;
  width: 80vw;
  height: 40vh;
  z-index: 12;
  visibility:hidden;
}
.st1{fill:#F7C059;}
.st2{fill:#FFFFFF;}
.st3{fill:#4A96CD;}
.st4{fill:#D20024;}


@-webkit-keyframes bnk {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bnk {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
