.atom{
  stroke: #ddd;
  stroke-width: 2;
  fill: #eee;
}

.planet{
  stroke: #ccc;
  stroke-width: 3;
  fill: #eee;
}
.orbit{
   stroke : #eee;
   stroke-width : 3;
   fill :  none ;
}
.hamburger{
  stroke: #ccc;
  stroke-width: 3;
  fill: #eee;
}
